a {
    color: inherit;
}

  /* Garante que o conteúdo abaixo do cabeçalho não fique oculto */
body {
    padding-top: 80px; /* Ajuste este valor conforme a altura do cabeçalho */
}

/* Estilo opcional para o cabeçalho */
#cabecalho {
    background-color: #fff; /* Cor de fundo para o cabeçalho */
    color: #3d1016; /* Cor do texto */
    width: 100%;
    z-index: 1030; /* Para garantir que o cabeçalho esteja acima do conteúdo */
}

#titulo {
    margin: 0;
}

.navbar-nav .nav-link {
    color: #3d1016;
}

#cont {
    background-color: #3d1016;
    height: auto;
    margin-top: 28px;
}

.btn-primary {
    background-color: #3d1016;
    border-color: #3d1016;
    }
    
.btn-primary:hover {
    color: #3d1016;
    background-color: #fff;
    border-color: #3d1016;
    }
    
#fale-conosco,
#titulo,
.text-center {
    color: #3d1016;
    }

h1 {
    font-size: 56px;
}

.nav li a {
    font-size: 16px;
    color: #3d1016;
    font-weight: 600;
    }

    /* Cor de fundo dos itens ativos */
.nav-pills .nav-link.active {
    background-color: #3d1016; /* Cor de fundo do link ativo */
    color: #fff; /* Cor do texto do link ativo */
}

.container-fluid {
    background-color: #3d1016;
    }

.carouselMain {
    position:initial; /* Posicionamento relativo para o contêiner do carrossel */
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* Centraliza verticalmente os botões */
    height: 50px; /* Ajuste o tamanho conforme necessário */
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo semi-transparente opcional */
    border-radius: 50%; /* Deixa os botões arredondados */
}

.carousel-control-prev {
    left: 10px; /* Define a posição do botão anterior */
}

.carousel-control-next {
    right: 10px; /* Define a posição do botão próximo */
}

#sobreMain {
    background-color: #3d10167b;
}

.card,
.navbar {
    box-shadow: 0px 0px 16px 0 rgba(115, 3, 3, 0.382);
    }

#ebdConteudo,
#cultosConteudo,
#sobreMain {
    box-shadow: 6px 6px 16px 4px rgba(115, 3, 3, 0.382);
}

.card,
.nav-link,
.navbar-brand,
#ebdConteudo {
    border: none;
    transition: transform 0.6s ease; /* Transição suave */
    }

.card:hover,
.nav-link:hover,
.navbar-brand:hover,
#ebdConteudo:hover {
        transform: scale(1.1); /* Expande o cartão em 10% */
    }

.titulo-culto {
    margin-top: 8px;
}

/*seção fale consoco*/
.input-with-icon {
    position: relative;
}

.input-with-icon input {
    padding-left: 30px; /* Adiciona espaço para o ícone */
}

.input-with-icon i {
    position: absolute;
    left: 10px; /* Coloca o ícone dentro do input */
    top: 50%;
    transform: translateY(10%);
}

#fale-conosco button,
.rodape {
    background-color: #3d1016;
    color: #fff;
    border-color: #3d1016;
}

#fale-conosco button:hover {
    background-color: #ffeae6;
    color: #3d1016;
}

.nav-cardapio .nav-link:hover {
    color: #3d1016;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}


@media (max-width: 767) {
    .carousel-item img {
        height: 280px;
    }
}


@media (max-width: 767px) {
    .fixed-top {
        position: relative;
        }
    }